* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

section {
  padding: 50px 20px;
  margin: 20px 0;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.profil-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profil-content img {
  border-radius: 50%;
}

.project-container {
  display: flex;
  gap: 20px;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-details {
  display: none;
  margin-top: 10px;
}

.view-details {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.view-details:hover {
  background-color: #0056b3;
}

#contact ul {
  list-style-type: none;
}

#contact ul li {
  margin: 10px 0;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer p {
  font-size: 14px;
}
